# Dependencies
/node_modules

# Build output
/dist
/build

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Gradle cache
.gradle/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
